body {
    overflow: hidden;
    margin: 0;
    background-color: #303030;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 1.2em;
    color: #6ad866;
}

a {
    color: inherit;
    text-decoration: none;
}

.vContainer {
    display:flex;
    flex-wrap:wrap;
    height: 97vh;
    width: 100vw;
    border: 1px solid #000000;
}

.pContainer {
    display:flex;
    flex-wrap:wrap;
    height: 100%;
    width: 100%;
    border: 1px solid #000000;
}

.column, .cNav, .cSelect, .cMain {
    display: flex;
    flex-direction: column;
    flex: 1;
    border: 1px solid #000000;
}

.cNav { 
    flex: .10;
    background-color: #201E1E;
}

.cSelect {
    flex: .25;
    background-color: #262626;
}

.cMain {
    flex: .7;
}

.row, .rHeading, .rNav, .rTitle, .rSelect, .rSlot {
    display: flex;
    flex-direction: row;
    flex: 1;
    border: 1px solid #000000;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.rNav {
    flex: .5;
}

.rHeading {
    flex: .142; 
    color: #e0ffdf;
    font-size: 2em;
    background-color: #262626;
}

.rTitle {
    height: 3vh; 
    justify-content: left;  
    color: #e0ffdf;
    background-color: #201E1E;
}

.rSelect {
    justify-content: left;
    align-items: baseline;
}

.rSlot {
    flex: .125;
    color: #e0ffdf;
}

.row:hover, .rNav:hover {
    color: #12af0d; 
}

ul {
    text-align: left;
    list-style: none;
    width: 80%
}

li {
    border: 2px solid #000;
    margin: .7em;
    padding: .5em;
    background-color: #201E1E;
}

li:hover {
    color: #12af0d; 
}

.popup {
    display: none;
    top: 60%;
    left: 60%;
    transform: translate(-50%, -50%);
    position: absolute;
    height: 60%;
    width: 50%;
    background-color: #262626;
    border: 1px solid #000; 
}
  
.closeButton {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px; 
    text-decoration: none; 
    color: #61AD68;
}

