<row class = "rTitle">
    Indian Pop Radio Manager
</row>
<container class="vContainer">
    <column class = "cNav">
        <row class = "rNav">
            Home
        </row>
        <row class = "rNav">
            Back
        </row>
        <row class = "row">
            Manager
        </row>
        <row class = "row">
            <a href="/Producer">Producer</a>
        </row>
        <row class = "row">
            DJ
        </row>
    </column>
    <column class = "cSelect">
        <row class = "rHeading">

        </row>
        <row class = "row">

        </row>
    </column>
    <column class = "cMain">
        <row class = "rHeading">
            
        </row>
        <row class = "row" style = "font-size: 4em; color: #e0ffdf;">
            Welcome To Radio Manager 
        </row>
    </column>
</container>